# 영화 Review이용 카운트 기반 단어표현

In [3]:
import pandas as pd

## 영화 Review data Load 및 review 내용 list로 변환

In [4]:
movie_df = pd.read_csv( 'movie_reviews.csv' )

In [5]:
movie_df.shape

(384, 4)

In [8]:
movie_df.drop( movie_df.columns[ [ 0 ] ], axis = 'columns' )

               title                                              story  genre
0               그린 북  1962년 미국 입담과 주먹만 믿고 살아가던 토니 발레롱가비고 모텐슨는 교양과 우아...    드라마
1               가버나움  나를 세상에 태어나게 한 부모님을 고소하고 싶어요출생기록조차 없이 살아온 어쩌면 1...    드라마
2            베일리 어게인  귀여운 소년 이든의 단짝 반려견 베일리는 행복한 생을 마감한다하지만 눈을 떠보니 다...     모험
3                주전장  일본의 인종차별 문제를 다룬 영상을 올린 후 우익들의 공격 대상이 된 일본계 미국인...  다큐멘터리
4           포드 V 페라리  1960년대 매출 감소에 빠진 포드는 판매 활로를 찾기 위해스포츠카 레이스를 장악한...     액션
..               ...                                                ...    ...
379  바그다드 카페 : 디렉터스컷  황량한 사막 한가운데 자리 잡은 초라한 바그다드 카페 커피머신은 고장난지 오래고 먼...    코미디
380           론 서바이버  2005년 6월 28일 아프가니스탄에서 복무중인 네이비씰 대원 마커스 마이클 대니 ...     액션
381             국제시장  1950년대 한국전쟁 이후로부터 현재에 이르기까지 격변의 시대를 관통하며 살아온 우...    드라마
382              말레나  2차 대전이 한창인 햇빛 찬란한 지중해의 작은 마을 매혹적인 말레나 걸어갈 때면 어...    드라마
383           콜드 마운틴  남군 병사인 인만주드 로은 전투 중에 중상을 입고 병원에 입원해있던 도중에 탈영을 ...    드라마

[384 rows x 3 columns]

In [12]:
movie_storys = movie_df.story

In [13]:
# list로 변환
movie_reviews = movie_storys.values.tolist()

In [15]:
movie_reviews[ :5 ]

['1962년 미국 입담과 주먹만 믿고 살아가던 토니 발레롱가비고 모텐슨는 교양과 우아함 그 자체인천재 피아니스트 돈 셜리마허샬라 알리 박사의 운전기사 면접을 보게 된다백악관에도 초청되는 등 미국 전역에서 콘서트 요청을 받으며 명성을 떨치고 있는 돈 셜리는위험하기로 소문난 미국 남부 투어 공연을 떠나기로 결심하고투어 기간 동안 자신의 보디가드 겸 운전기사로 토니를 고용한다거친 인생을 살아온 토니 발레롱가와 교양과 기품을 지키며 살아온 돈 셜리 박사생각 행동 말투 취향까지 달라도 너무 다른 두 사람은그들을 위한 여행안내서 그린북에 의존해 특별한 남부 투어를 시작하는데',
 '나를 세상에 태어나게 한 부모님을 고소하고 싶어요출생기록조차 없이 살아온 어쩌면 12살 소년 자인으로부터',
 '귀여운 소년 이든의 단짝 반려견 베일리는 행복한 생을 마감한다하지만 눈을 떠보니 다시 시작된 견생 2회차 아니 3회차1등 경찰견 엘리에서 찰떡같이 마음을 알아주는 소울메이트 티노까지다시 태어날 때마다 성별과 생김새 직업에 이름도 바뀌지만여전히 영혼만은 사랑 충만 애교 충만 주인바라기 베일리어느덧 견생 4회차 방랑견이 되어 떠돌던 베일리는마침내 자신이 돌아온 진짜 이유를 깨닫고 어딘가로 달려가기 시작하는데',
 '일본의 인종차별 문제를 다룬 영상을 올린 후 우익들의 공격 대상이 된 일본계 미국인 유튜버 미키 데자키 그는 일본군위안부에 관한 기사를 쓴 기자가 우익들에게 인신공격 당하는 것을 보며 왜 그토록 이들이 이 문제를 감추려고 하는지 궁금해졌다호기심을 안고 찾아간 그들은 무시무시한 이야기를 전하고 그들의 주장을 반격하는 또 다른 인물들을 만나면서 숨겨진 비밀을 발견하게 되는데 숨 쉴 틈 없는 전쟁이 시작된다',
 '1960년대 매출 감소에 빠진 포드는 판매 활로를 찾기 위해스포츠카 레이스를 장악한 절대적 1위 페라리와의 인수 합병을 추진한다막대한 자금력에도 불구 계약에 실패하고 엔초 페라리로부터 모욕까지 당한 헨리 포드 2세는르망 24시간 레이스에서 페라리를 박살 낼 차를 만들 것을 지시한다 불가능을 즐기는 두 남자를 주목하라세계 3대 자동차 레이싱 대회이자 지옥의 레이스로 불리는 르망 24시간 레이스출전 경험조차 없는 포드는 대회 6연패를 차지한 페라리에 대항하기 위해르망 레이스 우승자 출신 자동차 디자이너 캐롤 셸비맷 데이먼를 고용하고 그는 누구와도 타협하지 않지만 열정과 실력만큼은 최고인 레이서 켄 마일스크리스찬 베일를 자신의 파트너로 영입한다포드의 경영진은 제 멋대로인 켄 마일스를 눈엣가시처럼 여기며자신들의 입맛에 맞춘 레이스를 펼치기를 강요하지만두 사람은 어떤 간섭에도 굴하지 않고 불가능을 뛰어넘기 위한 질주를 시작하는데그 어떤 각본보다 놀라운 실화가 펼쳐진다']

## 카운트 기반 단어 표현( Count based word Representation )

### BoW - python으로 표현

In [16]:
from konlpy.tag import Okt

In [17]:
okt = Okt()

In [79]:
# Okt 형태소 분석기를 이용한 형태소 추출
movie_review_tokens = []

for review in movie_reviews:
    movie_review_tokens.append( okt.morphs( review ) )
    
movie_review_tokens[ 1 ]

['나를',
 '세상',
 '에',
 '태어나게',
 '한',
 '부모님',
 '을',
 '고소하고',
 '싶어요',
 '출생',
 '기록',
 '조차',
 '없이',
 '살아온',
 '어쩌면',
 '12',
 '살',
 '소년',
 '자인',
 '으로부터']

In [80]:
# Okt 형태소 분석기를 이용한 명사 추출
movie_review_nouns = []

for review in movie_reviews:
    movie_review_nouns.append( okt.nouns( review ) )
    
movie_review_nouns[ 1 ]

['세상', '부모님', '출생', '기록', '어쩌면', '살', '소년', '자인']

In [81]:
# 1) 각 단어에 대한 고유한 정수 인데스 부여
word2indexs = []
bows = []

for review_token in movie_review_tokens:
    word2index = {}
    bow  = []
    for voca in review_token:
        if voca not in word2index.keys():
            word2index[ voca ] = len( word2index )
            bow.insert( len( word2index ) - 1, 1 )
        else:
            index = word2index.get( voca )
            bow[ index ] += 1
    
    word2indexs.append( word2index )
    bows.append( bow )

In [82]:
word2indexs[ 1 ]

{'나를': 0,
 '세상': 1,
 '에': 2,
 '태어나게': 3,
 '한': 4,
 '부모님': 5,
 '을': 6,
 '고소하고': 7,
 '싶어요': 8,
 '출생': 9,
 '기록': 10,
 '조차': 11,
 '없이': 12,
 '살아온': 13,
 '어쩌면': 14,
 '12': 15,
 '살': 16,
 '소년': 17,
 '자인': 18,
 '으로부터': 19}

In [83]:
bows[ 1 ]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

### BoW - Scikit Learn의 CountVectorizer이용

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
vector = CountVectorizer()

In [34]:
s_word2indexs = []
s_bows = []

for review_token in movie_review_tokens:
    s_bows.append( vector.fit_transform( review_token ) )
    s_word2indexs.append( vector.vocabulary_ )

In [35]:
s_word2indexs[ 1 ]

{'나를': 3,
 '세상': 6,
 '태어나게': 15,
 '부모님': 4,
 '고소하고': 1,
 '싶어요': 8,
 '출생': 14,
 '기록': 2,
 '조차': 13,
 '없이': 10,
 '살아온': 5,
 '어쩌면': 9,
 '12': 0,
 '소년': 7,
 '자인': 12,
 '으로부터': 11}

In [38]:
print( s_bows[ 1 ] )

  (0, 3)	1
  (1, 6)	1
  (3, 15)	1
  (5, 4)	1
  (7, 1)	1
  (8, 8)	1
  (9, 14)	1
  (10, 2)	1
  (11, 13)	1
  (12, 10)	1
  (13, 5)	1
  (14, 9)	1
  (15, 0)	1
  (17, 7)	1
  (18, 12)	1
  (19, 11)	1

### BoW - 불용어 제거 후 Scikit Learn의 CountVectorizer이용

In [39]:
stop_words = []

with open( 'stopwords.txt', 'r', encoding = 'utf-8' ) as f:
    lines = f.readlines()
    for line in lines:
        stop_words.append( line.rstrip( '\n' ) )

In [44]:
movie_review_tokens_stop = []

for review in movie_review_tokens:
    results = []
    for word in review:
        if word not in stop_words:
            results.append( word )
    movie_review_tokens_stop.append( results )

In [49]:
movie_review_tokens_stop[ 1 ]

['나를',
 '세상',
 '태어나게',
 '한',
 '부모님',
 '고소하고',
 '싶어요',
 '출생',
 '기록',
 '없이',
 '살아온',
 '어쩌면',
 '12',
 '살',
 '소년',
 '자인',
 '으로부터']

In [46]:
word2indexs = []
bows = []

for review_token in movie_review_tokens_stop:
    bows.append( vector.fit_transform( review_token ) )
    word2indexs.append( vector.vocabulary_ )

In [47]:
word2indexs[ 1 ]

{'나를': 3,
 '세상': 6,
 '태어나게': 14,
 '부모님': 4,
 '고소하고': 1,
 '싶어요': 8,
 '출생': 13,
 '기록': 2,
 '없이': 10,
 '살아온': 5,
 '어쩌면': 9,
 '12': 0,
 '소년': 7,
 '자인': 12,
 '으로부터': 11}

In [48]:
print( bows[ 1 ] )

  (0, 3)	1
  (1, 6)	1
  (2, 14)	1
  (4, 4)	1
  (5, 1)	1
  (6, 8)	1
  (7, 13)	1
  (8, 2)	1
  (9, 10)	1
  (10, 5)	1
  (11, 9)	1
  (12, 0)	1
  (14, 7)	1
  (15, 12)	1
  (16, 11)	1

### 문서 단어 행렬( Document-Term Matrix, DTM )

In [54]:
from math import log # IDF 계산을 위해

In [57]:
vocab = list( set( w for review in movie_reviews for w in review.split() ) )
vocab.sort()

In [62]:
# tf(d,t) : 특정 문서 d에서의 특정 단어 t의 등장 횟수.
# df(t) : 특정 단어 t가 등장한 문서의 수.
# idf(d, t) : df(t)에 반비례하는 수.
N = len( movie_reviews ) # 총 문서의 수

def tf( t, d ):
    return d.count( t )

def idf( t ):
    df = 0
    for review in movie_reviews:
        df += t in review
    return log( N / ( df + 1 ) )

def tfidf( t, d ):
    return tf( t, d )* idf( t )

In [60]:
# DTM
result = []
for i in range( N ): # 각 문서에 대해서 아래 명령을 수행
    result.append( [] )
    d = movie_reviews[ i ]
    for j in range( len( vocab ) ):
        t = vocab[ j ]        
        result[ -1 ].append( tf( t, d ) )

tf_ = pd.DataFrame( result, columns = vocab )
tf_

,1,100,1000점을,100m도,100년전,100를,100만,100만이,100미터,100번째,...,힘없는,힘없이,힘에,힘으로,힘은,힘을,힘의,힘이,힘입어,힘차게
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
380,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
381,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
382,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
383,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
# IDF 값
result = []
for j in range( len( vocab ) ):
    t = vocab[ j ]
    result.append( idf( t ) )

idf_ = pd.DataFrame( result, index = vocab, columns = [ "IDF" ] )
idf_

             IDF
1       0.875469
100     3.465736
1000점을  5.257495
100m도   5.257495
100년전   5.257495
...          ...
힘을      2.906120
힘의      4.158883
힘이      4.158883
힘입어     5.257495
힘차게     5.257495

[22441 rows x 1 columns]

In [65]:
# TF-IDF 행렬
result = []
for i in range( N ):
    result.append( [] )
    review = movie_reviews[ i ]
    for j in range( len( vocab ) ):
        t = vocab[ j ]

        result[ -1 ].append( tfidf( t, review ) )

tfidf_ = pd.DataFrame( result, columns = vocab )
tfidf_

,1,100,1000점을,100m도,100년전,100를,100만,100만이,100미터,100번째,...,힘없는,힘없이,힘에,힘으로,힘은,힘을,힘의,힘이,힘입어,힘차게
0,0.875469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.875469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.875469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.750937,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
380,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
381,0.875469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
382,0.875469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
383,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 문서 유사도( Document Similarity )

### 코사인 유사도( Cosine Similarity )

In [87]:
movie_df.head()

,Unnamed: 0,title,story,genre
0,0,그린 북,1962년 미국 입담과 주먹만 믿고 살아가던 토니 발레롱가비고 모텐슨는 교양과 우아...,드라마
1,1,가버나움,나를 세상에 태어나게 한 부모님을 고소하고 싶어요출생기록조차 없이 살아온 어쩌면 1...,드라마
2,2,베일리 어게인,귀여운 소년 이든의 단짝 반려견 베일리는 행복한 생을 마감한다하지만 눈을 떠보니 다...,모험
3,3,주전장,일본의 인종차별 문제를 다룬 영상을 올린 후 우익들의 공격 대상이 된 일본계 미국인...,다큐멘터리
4,4,포드 V 페라리,1960년대 매출 감소에 빠진 포드는 판매 활로를 찾기 위해스포츠카 레이스를 장악한...,액션

In [89]:
movie_df.shape

(384, 4)

In [90]:
movie_df[ 'story' ].isnull().sum()

0

In [91]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [92]:
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform( movie_df[ 'story' ] )
# overview에 대해서 tf-idf 수행
print( tfidf_matrix.shape )

(384, 22078)

In [93]:
from sklearn.metrics.pairwise import linear_kernel

In [94]:
cosine_sim = linear_kernel( tfidf_matrix, tfidf_matrix )

In [96]:
indices = pd.Series( movie_df.index, index = movie_df[ 'title' ] ).drop_duplicates()
print( indices.head() )

title
그린 북        0
가버나움        1
베일리 어게인     2
주전장         3
포드 V 페라리    4
dtype: int64

In [98]:
idx = indices[ '그린 북' ]
print( idx )

0

In [101]:
def get_recommendations( title, cosine_sim=cosine_sim) :
    # 선택한 영화의 타이틀로부터 해당되는 인덱스를 받아옵니다. 이제 선택한 영화를 가지고 연산할 수 있습니다.
    idx = indices[ title ]

    # 모든 영화에 대해서 해당 영화와의 유사도를 구합니다.
    sim_scores = list( enumerate( cosine_sim[ idx ] ) )

    # 유사도에 따라 영화들을 정렬합니다.
    sim_scores = sorted( sim_scores, key = lambda x: x[ 1 ], reverse = True )

    # 가장 유사한 10개의 영화를 받아옵니다.
    sim_scores = sim_scores[ 1: 11 ]

    # 가장 유사한 10개의 영화의 인덱스를 받아옵니다.
    movie_indices = [ i[ 0 ] for i in sim_scores ]

    # 가장 유사한 10개의 영화의 제목을 리턴합니다.
    return movie_df[ 'title' ].iloc[ movie_indices ]

In [102]:
get_recommendations( '그린 북' )

381            국제시장
1              가버나움
20               헬프
355          인사이드 잡
148       피아니스트의 전설
69     러브 유어셀프 인 서울
140       온리 더 브레이브
231             칼리토
158          트와이스랜드
45            클레멘타인
Name: title, dtype: object

In [103]:
get_recommendations( '국제시장' )

296             웨딩 드레스
1                 가버나움
218              나비 효과
166               해바라기
375             싱 스트리트
116    빌리 엘리어트 뮤지컬 라이브
0                 그린 북
160      해리 포터와 마법사의 돌
354                크로싱
50          다시 태어나도 우리
Name: title, dtype: object

## Topic Modeling

## 잠재 의미 분석( Latent Semantic Analysis, LSA )

### TF-IDF 행렬

In [106]:
vectorizer = TfidfVectorizer( max_features= 1000, max_df = 0.5, smooth_idf=True )

X = vectorizer.fit_transform( movie_reviews )
X.shape # TF-IDF 행렬의 크기 확인

(384, 1000)

### Topic Modeling

In [107]:
from sklearn.decomposition import TruncatedSVD
svd_model = TruncatedSVD( n_components = 20, algorithm = 'randomized', n_iter = 100, random_state = 122 )
svd_model.fit( X )
len(svd_model.components_)

20

In [108]:
np.shape(svd_model.components_)

(20, 1000)

In [109]:
terms = vectorizer.get_feature_names() # 단어 집합. 1,000개의 단어가 저장됨.

def get_topics( components, feature_names, n = 5 ):
    for idx, topic in enumerate( components ):
        print( "Topic %d:" % ( idx + 1 ), [ ( feature_names[ i ], topic[ i ].round( 5 ) ) for i in topic.argsort()[ :-n - 1: -1 ] ] )

In [110]:
get_topics( svd_model.components_,terms )

Topic 1: [('된다', 0.21939), ('위해', 0.20719), ('있는', 0.16388), ('함께', 0.1546), ('없는', 0.14288)]
Topic 2: [('반지원정대는', 0.28616), ('악의', 0.27503), ('전쟁을', 0.25209), ('위해', 0.22172), ('최후의', 0.16811)]
Topic 3: [('있을까', 0.20423), ('이야기가', 0.15772), ('가장', 0.15716), ('시작된다', 0.14525), ('로봇', 0.13999)]
Topic 4: [('위해', 0.27143), ('되는데', 0.23134), ('세계', 0.20337), ('미국', 0.18014), ('꿈을', 0.13367)]
Topic 5: [('로봇', 0.3401), ('있을까', 0.25133), ('위기에', 0.15261), ('과연', 0.1443), ('된다', 0.12299)]
Topic 6: [('되는데', 0.22245), ('된다', 0.17027), ('만나게', 0.15441), ('사랑을', 0.14427), ('만나', 0.12239)]
Topic 7: [('위해', 0.29946), ('함께', 0.20103), ('이야기가', 0.14873), ('시작된다', 0.14207), ('일본', 0.11632)]
Topic 8: [('되는데', 0.27512), ('있는', 0.24949), ('마을', 0.16557), ('살고', 0.13096), ('그의', 0.12934)]
Topic 9: [('가장', 0.21772), ('찾아', 0.17107), ('못했던', 0.16412), ('사랑을', 0.1207), ('이야기가', 0.11854)]
Topic 10: [('꿈을', 0.2372), ('함께', 0.18092), ('되는데', 0.14282), ('되고', 0.14207), ('점점', 0.14193)]
Topic 11: [('미국', 0.20862), ('위해', 0.15739), ('사랑을', 0.15573), ('다시', 0.14814), ('세계', 0.12262)]
Topic 12: [('사건', 0.36539), ('새로운', 0.17422), ('어느', 0.13426), ('않는', 0.12061), ('그러던', 0.11034)]
Topic 13: [('그의', 0.26044), ('로봇', 0.20498), ('미국', 0.17665), ('새로운', 0.17429), ('어느', 0.13028)]
Topic 14: [('자신의', 0.20917), ('사건', 0.169), ('이야기가', 0.15566), ('살고', 0.13572), ('사랑에', 0.13382)]
Topic 15: [('로봇', 0.22443), ('사건', 0.22422), ('사랑을', 0.205), ('눈을', 0.14371), ('없는', 0.14271)]
Topic 16: [('꿈을', 0.18892), ('하지만', 0.18095), ('못한', 0.17324), ('다른', 0.13236), ('있다', 0.12845)]
Topic 17: [('사건', 0.20611), ('다시', 0.1831), ('마지막', 0.12641), ('소년', 0.11277), ('그는', 0.10815)]
Topic 18: [('살아온', 0.16891), ('없이', 0.14095), ('꿈을', 0.13115), ('못했던', 0.12474), ('우리', 0.11935)]
Topic 19: [('자신의', 0.23539), ('미국', 0.18484), ('시작하는데', 0.1556), ('다른', 0.10452), ('세계로', 0.10143)]
Topic 20: [('찾아', 0.17483), ('가진', 0.13086), ('못한', 0.12268), ('사랑에', 0.12017), ('특별한', 0.11393)]

In [ ]:
6