# Pandas Profiling 사용법

In [1]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

df = pd.DataFrame(
    np.random.rand(100, 5),
    columns=['a', 'b', 'c', 'd', 'e']
)
df

           a         b         c         d         e
0   0.039514  0.376401  0.638014  0.789062  0.692501
1   0.672238  0.594525  0.767849  0.693954  0.821623
2   0.943001  0.910865  0.341093  0.862624  0.529748
3   0.456909  0.069802  0.048257  0.273228  0.835399
4   0.289624  0.958162  0.033045  0.269393  0.911476
..       ...       ...       ...       ...       ...
95  0.313462  0.116132  0.177040  0.161603  0.930062
96  0.886681  0.383040  0.434103  0.014766  0.688167
97  0.499167  0.660797  0.472244  0.947980  0.854493
98  0.576838  0.212120  0.943947  0.837644  0.938954
99  0.150900  0.708157  0.400328  0.005805  0.556891

[100 rows x 5 columns]

In [2]:
profile = ProfileReport(df)

In [3]:
profile

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   …

In [4]:
pr = df.profile_report()

In [5]:
pr.to_file( './profiling_report.html' )

# EDA( Exploratory Data Analysis, 탐색적 데이터 분석 )을 위한 pandas-profiling

In [6]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [7]:
data = pd.read_csv( 'spam.csv', encoding = 'latin1' )

In [8]:
print( data )

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will Ì_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]

In [9]:
data[ :5 ]

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [10]:
#pr = data.profile_report() # profiling 결과 report를 pr에 저장
profile = ProfileReport( data )

In [11]:
profile

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   …